@media (max-width: 1024px) {
  /* line 7, ../../app/styles/responsive-max1024.scss */
  html {
    overflow: visible;
  }

  /* line 11, ../../app/styles/responsive-max1024.scss */
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: visible;
  }

  /* line 17, ../../app/styles/responsive-max1024.scss */
  nav#primary {
    float: none;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #1D1E21;
    overflow: visible;
    display: block;
    position: relative;
    z-index: 1;
  }
  /* line 27, ../../app/styles/responsive-max1024.scss */
  nav#primary > ul {
    width: 100%;
  }
  /* line 31, ../../app/styles/responsive-max1024.scss */
  nav#primary .dropdown {
    position: relative;
    z-index: 1;
  }
  /* line 36, ../../app/styles/responsive-max1024.scss */
  nav#primary > ul > li {
    display: inline-block;
    width: 80px;
    border: none;
  }
  /* line 41, ../../app/styles/responsive-max1024.scss */
  nav#primary > ul > li.bottom a {
    position: static;
  }

  /* line 47, ../../app/styles/responsive-max1024.scss */
  nav#secondary {
    float: none;
    width: auto;
    height: auto;
    border: none;
  }

  /* line 54, ../../app/styles/responsive-max1024.scss */
  section#main {
    overflow: visible;
    height: auto;
  }

  /* line 60, ../../app/styles/responsive-max1024.scss */
  .profile-menu .profile-menu-nav-collapse {
    line-height: 70px;
    margin-right: 15px;
    display: inline;
  }

  /* line 67, ../../app/styles/responsive-max1024.scss */
  .secondary-nav-menu {
    display: none;
  }
  /* line 69, ../../app/styles/responsive-max1024.scss */
  .secondary-nav-menu.open {
    display: block;
  }

  /* line 76, ../../app/styles/responsive-max1024.scss */
  .big-button-bar {
    overflow: hidden;
    *zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 80, ../../app/styles/responsive-max1024.scss */
  .big-button-bar .large {
    width: 33.3%;
    min-width: auto;
    margin: 0;
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
